<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/home-page.css" />
    <title>Adventure Hotel</title>
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <h2 class="uppercase pointer">home</h2>
        </div>
        <div>
          <div>
            <a href="/login" class="pointer link"> Log in </a>
            <a href="/sign-up" class="pointer link"> Sign up </a>
          </div>
        </div>
      </div>
      <div class="sub-header-container">
        <h1 class="text-white">Welcome</h1>
      </div>
    </header>
    <div class="message-container">
      <p class="main-text">
        Sign Up and search for the most beautiful hotels out there!
      </p>
    </div>
    <main>
      <div class="card">
        <img src="/imgs/hotel-1.jpg" alt="" />
        <h3>Wyndham Alltra Cancun</h3>
        <p>
          Tus vacaciones soñadas en Cancún te esperan. Resort todo incluido para
          toda la familia con un parque acuático, restaurantes y spa.
        </p>
      </div>
      <div class="card">
        <img src="/imgs/hotel-2.jpg" alt="" />
        <h3>Hotel Xcaret México</h3>
        <p>
          Hotel Xcaret México, no es uno más de los hoteles en Playa del Carmen
          y Riviera Maya, es una experiencia de destino completa.
        </p>
      </div>
      <div class="card">
        <img src="/imgs/hotel-3.jpg" alt="" />
        <h3>Garza Blanca Resort & Spa Cancun</h3>
        <p>
          Garza Blanca Resort & Spa Cancún es el hotel todo incluido más nuevo
          de la cadena TAFER Hotels & Resorts. Ofrece suites de lujo, spa y
          restaurantes gourmet.
        </p>
      </div>
      <div class="card">
        <img src="/imgs/hotel-4.jpg" alt="" />
        <h3>"Hyatt Zilara Cancun"</h3>
        <p>
          Disfrute de seis experiencias gastronómicas y cinco bares. Disfrute de
          restaurantes de pescados y mariscos al aire libre con vista a las
          arenas blancas.
        </p>
      </div>
      <div class="card">
        <img src="/imgs/hotel-5.jpg" alt="" />
        <h3>Gran Hotel Ciudad De Mexico</h3>
        <p>
          El hotel es famoso por su arquitectura estilo art nouveau, que se
          distingue por tener exuberantes decoraciones que representan curvas,
          flores y colores.
        </p>
      </div>
      <div class="card">
        <img src="/imgs/hotel-6.jpg" alt="" />
        <h3>hotel Fontan Ixtapa</h3>
        <p>
          El hotel Fontan Ixtapa en el centro de Playa Dorada, es un hotel que
          ofrece servicio todo incluido para gozar de las. mejores vacaciones en
          familia y con amigos.
        </p>
      </div>
    </main>
    <footer>
      <div class="footer-main-container">
        <div class="footer-sub-container">
          <ul class="social-media-container">
            <li>
              <ion-icon
                name="logo-facebook"
                class="text-white pointer"
              ></ion-icon>
            </li>
            <li>
              <ion-icon
                name="logo-instagram"
                class="text-white pointer"
              ></ion-icon>
            </li>
            <li>
              <ion-icon
                name="logo-whatsapp"
                class="text-white pointer"
              ></ion-icon>
            </li>
          </ul>
          <div>
            <h2 class="footer-title text-white">Adventure Hotels</h2>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
